<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Course</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/teacher/{userId}(userId=${userId})}" style="font-weight: bold;">Home</a>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <div class="nav-link">
                        <span sec:authentication="name"></span>
                    </div>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">

    <h2> Registered Classes for Teacher :</h2>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr th:each="username : ${user}">
            <th th:text="${user.username}"></th>
        </tr>
        </thead>
    </table>

    <div th:if="${user_courses}">
        <h2>Classes</h2>
        <form th:action="@{/teacher/{userId}/changeDecision(userId=${userId})}" method="post">
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Course Code</th>
                    <th>Parallel Type</th>
                    <th>Decision to Teach</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="userCourse : ${user_courses}">
                    <td th:text="${userCourse.course.courseCode}"></td>
                    <td th:text="${userCourse.teachingType.name()}"></td>
                    <td>
                        <select th:name="|decision-${userCourse.id}|" id="|decision-${userCourse.id}|">
                            <option value="PENDING"
                                    th:selected="${userCourse.decision == T(com.example.thesisproject.datamodel.enums.Decision).PENDING}">
                                PENDING
                            </option>
                            <option value="YES"
                                    th:selected="${userCourse.decision == T(com.example.thesisproject.datamodel.enums.Decision).YES}">
                                YES
                            </option>
                            <option value="NO"
                                    th:selected="${userCourse.decision == T(com.example.thesisproject.datamodel.enums.Decision).NO}">
                                NO
                            </option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary"
                    onclick="return confirm('Are you sure you want to save this data? Your selection will appear to the admin!');">
                Save Changes
            </button>
        </form>
    </div>


    <div th:if="${user_courses}">
        <h2>Lab Courses</h2>
        <form th:action="@{'/teacher/' + ${userId} + '/labs'}" method="post">
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Course</th>
                    <th>Min</th>
                    <th>Max</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="userCourse : ${user_courses}"
                    th:if="${userCourse.course.hasLabs and userCourse.teachingType.name() == 'LAB'}">
                    <td th:text="${userCourse.course.courseCode}"></td>
                    <td>
                        <input type="number" th:name="'minLab[' + ${userCourse.id} + ']'"
                               th:value="${userCourse.minLab}" class="form-control" min="0"/>
                    </td>
                    <td>
                        <input type="number" th:name="'maxLab[' + ${userCourse.id} + ']'"
                               th:value="${userCourse.maxLab}" class="form-control" min="0"/>
                    </td>
                </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>

</div>


</body>
</html>
