<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-4">
    <h2>All Users</h2>

    <a th:href="@{/users/create}" class="btn btn-primary mb-2">Create a new User</a>

    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
        </tr>
        </tbody>
    </table>

    <!-- User Subjects Table -->
    <div th:if="${user_subjects}">
        <h2>User Subjects</h2>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Username</th>
                <th>Subject Code</th>
                <th>Teaching Type</th>
                <th>Decision to Teach</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="userSubject : ${user_subjects}">
                <td th:text="${userSubject.user.username}"></td>
                <td th:text="${userSubject.subject.subjectCode}"></td>
                <td th:text="${userSubject.teachingType.name()}"></td>
                <!-- Use static data for demonstration purposes -->
                <td>YES</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
