<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit User</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-4">
  <h2>Edit User</h2>
  <form th:action="@{/users/edit}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}" />
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" th:field="*{username}" class="form-control" id="username" required>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a th:href="@{/users/all}" class="btn btn-secondary">Cancel</a>
  </form>
</div>

</body>
</html>
