<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Subject</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/}" style="font-weight: bold;">Home</a>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav ml-auto">
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">

  <h2> Registered Subjects for Teacher :</h2>
  <table class="table table-bordered">
    <thead class="thead-dark">
    <tr th:each="username : ${user}">
      <th th:text="${user.username}"></th>
    </tr>
    </thead>
  </table>


  <div th:if="${user_subjects}">
    <a th:href="@{'/users/' + ${user.id} + '/assign'}" class="btn btn-primary mb-2">Assign User to subject</a>
    <h2>Records</h2>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th>Subject</th>
        <th>Teaching Type</th>
        <th>Decison to Teach</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="userSubject : ${user_subjects}">
        <td th:text="${userSubject.subject.subjectCode}"></td>
        <td th:text="${userSubject.teachingType.name()}"></td>
        <td>YES</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

</body>
</html>
