<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Subject</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/}" style="font-weight: bold;">Home</a>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav ml-auto">
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">

  <h2> Registered Subjects for Teacher :</h2>
  <table class="table table-bordered">
    <thead class="thead-dark">
    <tr th:each="username : ${user}">
      <th th:text="${user.username}"></th>
    </tr>
    </thead>
  </table>


  <div th:if="${user_subjects}">
    <a th:href="@{'/users/' + ${user.id} + '/assign'}" class="btn btn-primary mb-2">Assign User to subject</a>
    <h2>Records</h2>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th>Subject</th>
        <th>Teaching Type</th>
        <th>hasLabs</th>
        <th>Decison to Teach</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="userSubject : ${user_subjects}">
        <td th:text="${userSubject.subject.subjectCode}"></td>
        <td th:text="${userSubject.teachingType.name()}"></td>
        <td th:text="${userSubject.subject.hasLabs}"></td>
        <td>PENDING</td>
      </tr>
      </tbody>
    </table>
  </div>

  </table>  <table class="table table-bordered">
  <thead class="thead-dark">
  <tr>
    <th>Subject Code</th>
    <th>Lecture</th>
    <th>Lab</th>
    <th>Seminar</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="userSubject : ${user_subjects}">
    <td th:text="${userSubject.subject.subjectCode}"></td>
    <td>
      <input type="checkbox" name="teachingTypes" value="LECTURE" th:checked="${userSubject.teachingType.name() == 'LECTURE'}" />
    </td>
    <td>
      <input type="checkbox" name="teachingTypes" value="LAB" th:checked="${userSubject.teachingType.name() == 'LAB'}" />
    </td>
    <td>
      <input type="checkbox" name="teachingTypes" value="SEMINAR" th:checked="${userSubject.teachingType.name() == 'SEMINAR'}" />
    </td>

  </tr>

  </tr>
  </tbody>
</table>



<!--  -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

  <h1 class="py-5">Adding new Subject</h1>
  <form action="/users/{userId}" method="post" th:object="${newRecord}" th:action="@{'/users/' + ${user.id}}">
    <!-- Your form fields here -->

    <div class="form-group">
      <label for="subject">Select Subject:</label>
      <select class="form-control" id="subjectId" name="subjectId" required>
        <option hidden value="">Select a subject</option>
        <option th:each="subject : ${subjects}" th:value="${subject.id}" th:text="${subject.subjectCode}"></option>
      </select>
    </div>
    <script>
      // Initialize Select2
      $(document).ready(function () {
        $('#subjectId').select2();
      });
    </script>

    <div class="form-group">
      <label for="teachingType">Teaching Type:</label>
      <select class="form-control" id="teachingType" name="teachingType" required>
        <option hidden value="">Select a teaching type</option>
        <option th:each="teachingType : ${allTeachingTypes}" th:value="${teachingType.name()}" th:text="${teachingType.name()}"></option>
      </select>
    </div>

    <input class="btn btn-primary" type="submit" value="Create Record">
  </form>


</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.0/css/select2.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.0/js/select2.min.js"></script>

</body>
</html>
